{% extends "layout.html" %}
{% load text_filters %}

{% block content %}
    <div class="content comment">
        <form action="{% url "edit_comment" comment.id %}" method="post" class="form comment-form-form">
            <div class="comment-form">
                <div class="comment-form-avatar">
                    <div class="avatar"><img src="{% if form.instance.author.avatar %}{{ form.instance.author.get_avatar }}{% else %}{{ me.get_avatar }}{% endif %}" alt="Аватар" /></div>
                </div>

                <comment-markdown-editor-wrapper
                    :editor-settings="{
                        class: '',
                        postSlug: '{{ post.slug }}'
                    }"
                >

                    <template v-slot:form-text>
                        {{ form.text }}
                    </template>

                    <template v-slot:form-errors>
                        {% if form.text.errors %}<span class="form-errors">{{ form.full_name.errors }}</span>{% endif %}
                    </template>

                    <template v-slot:form-footer>
                        <button type="submit" class="button">Сохранить</button>
                    </template>

                </comment-markdown-editor-wrapper>
            </div>
        </form>
    </div>
{% endblock %}
