<!DOCTYPE html>
{% load static %}
{% load text_filters %}
{% load render_bundle from webpack_loader %}
<html lang="ru" theme="dark">
<head>
    <title>{% block title %}Бизнес-клуб предпринимателей — Сорокин.Клуб: деловое закрытое сообщество ✖️‍{% endblock %}</title>
    {% block fonts %}
    {% include "common/fonts.html" %}
    {% endblock %}

    {% block meta %}
        {% include "common/meta-landing.html" %}
    {% endblock %}

    {% block og_tags %}
        {% include "common/og-landing.html" %}
    {% endblock %}
        {% include "common/favicon.html" %}
    {% render_bundle "main" "css" %}
    <meta name="yandex-verification" content="b204edbe7625b47d" />
</head>
<body>

    {% block body %}
    <main class="landing" id="app">
        <!-- Главный блок -->
        {% include "landing-blocks/title.html" %}

        <!-- Зачем нужен бизнес-клуб -->
        {% include "landing-blocks/why-need.html" %}

        <!-- Своё племя -->
        {% include "landing-blocks/our-tribe.html" %}

        <!-- Почему мы? -->
        {% include "landing-blocks/why-we-are.html" %}

        <!-- О чем? -->
        {% include "landing-blocks/about.html" %}

        <!-- Что внутри? -->
        {% include "landing-blocks/what-inside.html" %}

        <!-- Оффлайн -->
        {% include "landing-blocks/offline.html" %}

        <!-- Слайдер постов -->
        {% include "landing-blocks/posts.html" %}

        <!-- Зачем вступать? -->
        {% include "landing-blocks/why-come-in.html" %}

        <!-- Движухи, фан и взаимопомощь -->
        {% include "landing-blocks/action-fun.html" %}

        <!-- Недушное коммьюнити -->
        {% include "landing-blocks/community-map.html" %}

        <!-- Отзывы -->
        {% include "landing-blocks/reviews.html" %}

        <!-- Как вступить? -->
        {% include "landing-blocks/join.html" %}

        <!-- Модальное окно (tg-bot)-->
        {% include "landing-blocks/post-modal.html" %}
    </main>
    {% endblock %}

    <!-- подвал-->
    {% include "landing-blocks/footer.html" %}
</body>
</html>
