{% extends "layout.html" %}
{% load static %}
{% load paginator %}
{% load text_filters %}

{% block content %}
<div class="feed">
    <div class="feed-sidebar-toggle-wrapper">
        <sidebar-toggler />
    </div>
    <aside class="feed-sidebar">
        <div class="feed-sidebar-block">
            <ul class="feed-sidebar-list feed-sidebar-menu">
                <li>
                    <a href="{% url "index" %}">
                        🏠 Главная
                    </a>
                </li>
                <li>
                    <a href="{% url "people" %}">
                        🌍 Люди
                    </a>
                </li>
                <li>
                    <a href="{% url "network" %}">
                        💬 Чаты
                    </a>
                </li>
                <li>
                    <a href="{% url "stats" %}">
                        🏆 Топы
                    </a>
                </li>
                
                <li>
                        <br />Стань богаче:
                </li>
                <li>
                    <a href="https://sorokin.club/post/1047/">
                       🥤 Random-Coffee
                    </a>
                </li>
             <li>
                    <a href="https://sorokin.club/event/">
                       📅 События
                    </a>
                </li>                 
                <li>
                    <a href="https://sorokin.club/post/885/">
                       🔥 Мастермайнды
                    </a>
                </li> 
             <li>
                    <a href="https://sorokin.club/post/925/">
                       💵 Совместные инвестиции
                    </a>
                </li> 
                <li>
                    <a href="https://sorokin.club/post/1090/">
                       🤝 Бесплатные pro-консультации
                    </a>
                </li> 
            </ul>

            <!-- <ul class="feed-sidebar-list feed-sidebar-menu feed-sidebar-menu-small">
                <li>
                    <a href="{% url "feed_type" "post" %}" class="{% if post_type == "post" %}feed-sidebar-menu-selected{% endif %}">
                        📝 Посты
                    </a>
                </li>
                <li>
                    <a href="https://sorokin.club/event/" class="{% if label_code == "approved" %}feed-sidebar-menu-selected{% endif %}">
                        📅 События
                    </a>
                </li>

                 <li>
                    <a href="{% url "feed_label" "inside" %}" class="{% if label_code == "inside" %}feed-sidebar-menu-selected{% endif %}">
                        💎️ Инсайды
                    </a>
                </li> 
                <li>
                    <a href="{% url "feed_type" "thread" %}" class="{% if post_type == "thread" %}feed-sidebar-menu-selected{% endif %}">
                        🗄 Треды
                    </a>
                </li>
                <li>
                    <a href="{% url "feed_type" "guide" %}" class="{% if post_type == "guide" %}feed-sidebar-menu-selected{% endif %}">
                        🗺 Путеводители
                    </a>
                </li>
                <li>
                    <a href="{% url "feed_type" "question" %}" class="{% if post_type == "question" %}feed-sidebar-menu-selected{% endif %}">
                        🤔 Вопросы
                    </a>
                </li>
                <li>
                    <a href="{% url "feed_type" "link" %}" class="{% if post_type == "link" %}feed-sidebar-menu-selected{% endif %}">
                        🔗 Ссылки
                    </a>
                </li>
             <li>
                    <a href="{% url "feed_type" "project" %}" class="{% if post_type == "project" %}feed-sidebar-menu-selected{% endif %}">
                        🏗 Проекты
                    </a>
                </li>
                <li>
                    <a href="{% url "feed_label" "approved" %}" class="{% if label_code == "approved" %}feed-sidebar-menu-selected{% endif %}">
                        👍 Офигенно
                    </a>
                </li> 
            </ul>  -->
        </div>

        <!--
<li>
                    <a href="{% url "feed_label" "ama" %}" class="{% if label_code == "ama" %}feed-sidebar-menu-selected{% endif %}">
                        ✋ AMA
                    </a>
                </li>


-->
        {% if me.is_god %}
        <div class="feed-sidebar-header">Стата</div>
        <ul class="feed-sidebar-list feed-sidebar-menu feed-sidebar-menu-small">
            <li>
                <a href="{% url "stats-gode" %}">
                    📝 Деньги
                </a>
            </li>
            <li>
                <a href="{% url "stats-content" %}">
                    📝 Контент
                </a>
            </li>
            <li>
                <a href="{% url "stats-buddy" %}">
                    📝 Buddy
                </a>
            </li>
            <li>
                <a href="{% url "posts_rating" %}">
                    📝 Рейтинг постов
                </a>
            </li>
            <li>
                <a href="{% url "show_helpfullness_list" %}">
                    🆘 Полезняха дня
                </a>
            </li>
            <li>
                <a href="{% url "show_telegram_messages" %}">
                    📝 Очередь сообщений
                </a>
            </li>
            <li>
                <a href="{% url "random_coffee_stat" %}">
                    ☕ Статистика рандом кофе. 
                </a>
            </li>
            <li>
                <a href="{% url "show_list_of_rooms" %}">
                    📚 Управление комнатами
                </a>
            </li>
            <li>
                <a href="{% url "affilates_stat" %}">
                    📢 Стата реферальной программы 
                </a>
            </li>
        </ul>
        {% endif %}
        <div class="feed-sidebar-block">
            <div class="feed-sidebar-header">Комнаты</div>
            <div class="feed-sidebar-topics">

                {% with topics|sort_by_attr:'name' as sorted_objects %}
                {% for topic in sorted_objects %}
                    {% include "posts/widgets/topic.html" with topic=topic type="card" %}
                {% endfor %}
                {% endwith %}

            </div>
        </div>
    </aside>
    <div class="feed-main">
        {% block feed_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
