{% extends "layout.html" %}
{% load posts %}
{% load static %}
{% load users %}
{% load text_filters %}
{% block title %}
Статистика
{% endblock %}
{% block og_tags %}
<meta property="og:title" content="Ачивки — {{ settings.APP_NAME }}">
<meta property="og:site_name" content="{{ settings.APP_NAME }}">
<meta property="og:url" content="{{ settings.APP_HOST }}">
<meta property="og:type" content="website" />
<meta property="og:description" content="">
<meta property="og:image" content="{% static " images/share.png" %}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Статистика — {{ settings.APP_NAME }}">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="{% static " images/share.png" %}">
{% endblock %}
{% block content %}
<div class="container">
        {% if me.is_god %}

    <a href="{% url 'profile' user.slug %}">Вернуться в профиль юзера</a>
    <br>
    <br>

        {% for affilated_user in affilate_list %}
        <a href="{% url 'profile' affilated_user.slug %}">{{ affilated_user.slug }}</a>
        <br>
        {% endfor %}
        {% endif %}
</div>
{% endblock %}