{% extends "layout.html" %}
{% load posts %}
{% load static %}
{% load users %}
{% load  %}
{% load text_filters %}
{% block title %}
Реферальная программа
{% endblock %}
{% block og_tags %}
<meta property="og:title" content="Ачивки — {{ settings.APP_NAME }}">
<meta property="og:site_name" content="{{ settings.APP_NAME }}">
<meta property="og:url" content="{{ settings.APP_HOST }}">
<meta property="og:type" content="website" />
<meta property="og:description" content="">
<meta property="og:image" content="{% static " images/share.png" %}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Статистика — {{ settings.APP_NAME }}">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="{% static " images/share.png" %}">
{% endblock %}

{% block content %}

<div class="content user-edit">
    <div class="form-title">📢<br>Реферальная программа</div>

    <div class="block">
        <div class="form-row">
            <form action="{% url 'pfofile_affilate' user.slug %}" method="post" class="settings-form">{% csrf_token %}
                {% for field in form %}
                <div class="settings-form__content">
                    <div class="settings-form__row">
                        <div class="settings-form__row-name">
                            {{ field.label_tag }}
                        </div>
                        <div class="settings-form__row-input">
                            <label class="settings-form__input">
                                {{ field }}
                                <div class="settings-form__input-indicator">
                                    <span></span>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <br><br>
                {% endfor %}
                <input type="submit" class="button button-big" value="Сохранить">
        </div>
        <!-- HTML код кнопки "Скопировать" -->
        Реферальная ссылка: {{settings.APP_HOST}}/post/2?p={{ affilate_info.parametr }}
        <button onclick="copyToClipboard('{{settings.APP_HOST}}/post/2/?p={{ affilate_info.parametr }}')">Copy Link</button>
        
<!-- JavaScript код для копирования ссылки в буфер обмена -->
<script>
function copyToClipboard(text) {
  var input = document.createElement('input');
  input.setAttribute('value', text);
  document.body.appendChild(input);
  input.select();
  document.execCommand('copy');
  document.body.removeChild(input);
  alert('Ссылка скопирована! ');
}
</script>
    </div>
</div>
<div class="container">
<!-- отсортировать надо по дате регистрации пользователя -->
{% if affilate_logs %}
Мои рефералы: <br>
{% for log in affilate_logs %}
    <a href="{{ settings.APP_HOST }}/user/{{log.affilated_user.slug}}">{{log.affilated_user.full_name}}:</a>
    <br>
    Дата регистрации: {% make_moscow_time log.affilated_user.created_at %}
    <br>
    {% active_or_not log.affilated_user %}
    <br>
    {% if 'Bonus Days:' in log.comment %}
    Принёс мне дней в клубе: {% get_amount_from_str log.comment %}
    <br>
    {% elif 'Bonus Money:' in log.comment %}
    Принёс мне денег: {% get_amount_from_str log.comment %}
    <br><br>
    {% endif %}
    {% endfor %}
{% endif %}
</div>
{% endblock %}