{% extends "layout.html" %}
{% load static %}

{% block title %}
    Редактирование профиля — {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content user-edit">
            <div class="form-title">☕<br>Подключение рандом-кофе</div>

            <div class="block">
                <div class="form-row">
                    <form action="{% url 'random_coffee' user_slug %}" method="post">{% csrf_token %}
                        {% for field in form %}
                        {{ field.label_tag }}
                        {{ field }}
                        <br><br>
                        {% endfor %}
                    <input type="submit" class="button button-big" value="Сохранить">
                </div>
            </div>
            
    </div>
{% endblock %}
