{% load static %}

<div class="landing-block landing-posts-block landing-block--space-between landing-block-large-limited">
    <div class="landing-block-50 landing-posts">
        {% include "landing-blocks/post-columns/action-fun.html" %}
    </div>

    <div class="landing-block-40">
        <h2 class="feature-title">Движухи, фан и взаимопомощь</h2>
        <ul class="feature-list">
            <li>Митапы и сходки в офлайне.</li>
            <li>Совместный досуг и путешествия.</li>
            <li>Коучинг и менторство между участниками Клуба.</li>
            <li>У нас запрещена анонимность и действует жесткая модерация. Так мы сохраняем здоровое коммьюнити без говна.</li>
            <li>Подробнее о правилах можно почитать в разделе <a href="{% url "docs" "about" %}" target="_blank">О Клубе</a>.</li>
        </ul>
    </div>
</div>
