{% load static %}
{% load text_filters %}

<div class="landing-block landing-block-limited landing-block-map-title" id="map">
    <h3 class="feature-title">Недушное коммьюнити</h3>
</div>

<div class="landing-block landing-block-map">
    <div class="map-background">
    </div>

    <div class="map-container">
        <div class="map-sidebar hide-on-iphone">
            <div class="map-sidebar-item">📍 В моем городе</div>
            <div class="map-sidebar-item map-sidebar-item-selected">🎉 Открыты к общению</div>
            <div class="map-sidebar-item">🤟 Ищут друзей</div>
            <div class="map-sidebar-item">🤪️ Любят движуху</div>
            <div class="map-sidebar-header">Путешествия</div>
            <div class="map-sidebar-item map-sidebar-item-selected">🍻 Можем выпить по пиву</div>
            <div class="map-sidebar-item map-sidebar-item-selected">🏢 Могу показать офис</div>
            <div class="map-sidebar-item">🗼 Могу показать город</div>
            <div class="map-sidebar-item">🛌 Могу вписать на ночь</div>
            <div class="map-sidebar-header">Профессиональное</div>
            <div class="map-sidebar-item">💼 Могу зареферить в компанию</div>
            <div class="map-sidebar-item">🔍 Ищу сотрудников</div>
            <div class="map-sidebar-item">🔎 Ищу работу</div>
            <div class="map-sidebar-item">🛋 Хочу удалёнку</div>
            <div class="map-sidebar-item">🚜 Хочу релокацию</div>
            <div class="map-sidebar-item">📱 FAANG</div>
        </div>

        <div class="map-counters">
            <div class="map-counter">{{ stats.users }} {{ stats.users | rupluralize:"человек,человека,человек" }}</div>
            <div class="map-counter">{{ stats.countries }} {{ stats.countries | rupluralize:"страна,страны,стран"  }}</div>
            <div class="map-counter">Чаты</div>
        </div>
    </div>
</div>
