{% load static %}

{% block footer %}
    <footer class="footer">
        <div class="footer-left" style="text-align: left; font-size: 130%;">
            &copy; <a href="{% url 'open_posts' %}" target="_blank">sorokin.club</a> {% now "Y" %} &nbsp;&middot;&nbsp;
            <a href="/docs/about/">О Клубе и Правила Клуба</a> &nbsp;&middot;&nbsp;

            <a href="/docs/contact/">Написать нам</a><br />

            <a href="/docs/oferta/">Оферта</a> &nbsp;&middot;&nbsp;

            <a href="/docs/privacy_policy/">Политика приватности</a><br />

            <a href="/docs/policy/">Политика оплаты, доставки и возврата</a><br /><br />

            <img src="https://sorokin.club/static/images/visa.svg" width="77" alt="Visa"/>&nbsp;&nbsp;
            <img src="https://sorokin.club/static/images/mastercard.svg" width="77" alt="Mastercard"/>&nbsp;&nbsp;
            <img src="https://sorokin.club/static/images/mir.png" width="77" alt="Mir"/>

        </div>
    </footer>
{% endblock %}

{% include "common/js.html" %}
{% block js %}{% endblock %}
