{% load static %}

<div class="landing-block landing-block-narrow" id="join">
    <div>
        <h2 class="landing-block-title">Как вступить?</h2>

        <p>
            Членство в Клубе платное. Это позволяет нам оставаться независимыми от мнения инвесторов и рекламодателей.</p>
            <p>Месяц участия в клубе стоит 990 рублей при помесячной оплате или 556 рублей при оплате за три года (19 990 рублей за три года).
        </p>

        <p>
            Плюс, мы не пускаем анонимов в наше сообщество. Вам придется заполнить профиль и рассказать о себе (также нужно будет использовать своё настоящее имя и фамилию и загрузить фотографию в качестве аватарки).
        </p>

        <br>

        <div class="button-container">
            <div class="button-container__inner">
                <a href="{% url "login" %}" class="button button-black">Войти</a>
                <a href="{% url "join" %}" class="button button-black">Вступить в Клуб</a>
            </div>
        </div>
    </div>

</div>
