{% load static %}

<div class="landing-block intro-landing-block landing-block-limited">
    <img src="{% static "images/logo/logo-1024.png" %}" alt="">
    <div class="landing-title">
        <p class="landing-title__title">Сорокин.Клуб</p>
        <p>Всё самое интересное в нашем сообществе происходит за закрытыми дверями</p>
        <div class="button-container">
            <div class="button-container__inner">
                <a href="{% url "login" %}" class="button button--intro button-black">Войти</a>
            </div>
        </div>
    </div>
</div>
