{% load static %}

<div class="landing-block landing-posts-block landing-block--space-between landing-block-large-limited">
    <div class="landing-block-40">
        <h2 class="feature-title">Что внутри?</h2>
        <ul class="feature-list">
            <li>В Клубе пишут статьи, просят советов, делятся идеями и рассказывают о своих проектах.</li>
            <li>Формат «только для своих» позволяет обсуждать темы без посторонних.</li>
            <li>Комментарии больше не зашквар.</li>
            <li>Без постоянных продаж и успешного успеха.</li>
            <li>Есть закрытые чаты по интересам, где можно пообщаться в узком кругу единомышленников.</li>
        </ul>
    </div>

    <div class="landing-block-50 landing-posts">
        {% include "landing-blocks/post-columns/what-inside.html" %}
    </div>
</div>
