{% extends "layout.html" %}
{% load static %}

{% block title %}
    Бот — {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content user-edit">
        <div class="form-title">🤖<br>Телеграм-бот</div>

        <div class="block">
            <div class="block-description">
                <p>
                    <strong>Бот — важная часть Клуба.</strong>
                    На него завязано много фич: оповещения о новых комментариях и упоминаниях, приглашение в движухи и другое важное.
                </p>

                <p>
                    Подключите бота прямо сейчас, чтобы получить доступ к клубу.
                </p>

                <p>
                    <strong>Это самый последний шаг,</strong> все остальное в нашем клубе  — не обязательно ❤️
                </p>

                <p>
                    <a href="{{ settings.TELEGRAM_BOT_URL }}?start={{ me.secret_hash }}" target="_blank" class="button button-blue">
                        Привязать бота
                    </a>                
                </p>

                <p style="font-size: 80%; opacity: 0.8; padding-top: 80px;">
                    🥶️ Если совсем ничего не помогает, откройте бота и скопируйте ему команду:<br>
                    <strong>/auth {{ user.secret_hash }}</strong><br><br>
                    Только никому не говорите этот код!
                </p>
            </div>
        </div>
    </div>
{% endblock %}
