{% extends "emails/layout.html" %}
{% load static %}
{% load text_filters %}

{% block css %}
<style>
p {
    font-size: 19px;
}

ul {
    list-style: none;
    font-size: 19px;
    margin-left: 0;
    padding-left: 0;
}

    li {
        display: block;
        margin-top: 20px;
        padding-left: 15px;
    }

</style>
{% endblock %}

{% block title %}
    Новый коммент к посту
{% endblock %}

{% block body %}
    <p>
        <strong>Новый реплай к вашему комментарию под постом «<a href="{{ settings.APP_HOST }}{% url "show_post" comment.post.type comment.post.slug %}#comment-{{ comment.id }}">{{ comment.post.title }}</a>»</strong>

        {% load posts %}<strong>{{ comment.author.slug }}:</strong> {% render_plain comment %}
    </p>

    <p><a href="{{ settings.APP_HOST }}{% url "show_comment" comment.post.slug comment.id %}#comment-{{ comment.id }}">Посмотреть ➜</a></p>

    <p>
        PS Чтобы мы не беспокоили тебя по мелким поводам, подключи клубного Телеграм-бота по этой ссылке <a href="{{ settings.TELEGRAM_BOT_URL }}?start={{ me.secret_hash }}" target="_blank" class="button button-blue">Привязать бота</a>
    </p>

    <p>
        🥶️ Если совсем ничего не помогает, откройте бота и скопируйте ему команду:<br>
        <strong>/auth {{ user.secret_hash }}</strong><br><br>
        Только никому не говорите этот код!
    </p>

    <br><br><br>
{% endblock %}

{% block unsubscribe %}{% endblock %}

