{% extends "emails/layout.html" %}
{% load static %}
{% load text_filters %}

{% block css %}
<style>
p {
    font-size: 19px;
}

ul {
    list-style: none;
    font-size: 19px;
    margin-left: 0;
    padding-left: 0;
}

    li {
        display: block;
        margin-top: 20px;
        padding-left: 15px;
    }

</style>
{% endblock %}

{% block body %}

    <p>
        Через три дня мы попытаемся списать оплату, списано будет {{ sum }}, проверь что карта работает и на ней есть денежки.
    </p>

    <br><br><br>
{% endblock %}

{% block unsubscribe %}{% endblock %}
