<div class="pay-packages">
    {% for plan in plans %}
        <div>
            {% if plan.name == plans.0.name %}
                <input type="radio" id="package-{{ plan.code }}" name="product_code" value="{{ plan.code }}" checked>
            {% else %}
                <input type="radio" id="package-{{ plan.code }}" name="product_code" value="{{ plan.code }}">
            {% endif %}
            <label for="package-{{ plan.code }}" class="block pay-package">
                <div class="pay-package-name">{{ plan.package_name }}</div>
                <div class="pay-package-image">{{ plan.package_image }}</div>
                <div class="pay-package-price">{{ plan.package_price }}₽</div>
            </label>
        </div>
    {% endfor %}
</div>

<div class="pay-recurrent">
    <label class="block pay-recurrent-block">
        <input type="checkbox" name="is_recurrent" value="true" checked>
        продлять автоматически
        <select name="recurrent_interval">
            <option value="yearly" selected>год</option>
        </select>
    </label>
    <p>Мы спишем платеж только когда оплаченный срок участия в клубе будет подходить к концу. За три дня до списания мы напомним все детали в Телеграм-бота и емайл.</p>
    <p>Также, в качестве благодарности, мы фикисируем стоимость продления участия для всех, подключивших автоматическую оплату. Сменить тариф, подключить другую карту или остановить подписку вы сможете в своем профиле в любой момент.</p>
    <p>Оплачивая подписку, вы соглашаетесь с нашими <a href="https://sorokin.club/docs/oferta/">Офертой</a>, <a href="https://sorokin.club/docs/about/">Правилами клуба</a>, <a href="https://sorokin.club/docs/privacy_policy/">Политикой приватности</a>, <a href="https://sorokin.club/docs/subscription/">Правилами подписки</a> и <a href="https://sorokin.club/docs/policy/">Политикой оплаты, доставки и возврата</a>.</p>
    <p>Если что-то пошло не так - напишите нам на <a href="mailto:club@sorokin.club">club@sorokin.club</a> или связавшись с командой модерации в <a href="https://t.me/sorokinclub_chat">телеграм-чате клуба</a> (мы постараемся решить вопрос в тот же день, но на всякий случай оставим за собой право разобраться в течение 5 рабочих дней с момента запроса). Подробности вы найдете в своем профиле после оплаты и заполнения интро.</p>
</div>
