{% extends "layout.html" %}
{% load static %}
{% load users %}
{% load text_filters %}
{% block title %}
Статистика
{% endblock %}
{% block og_tags %}
<meta property="og:title" content="Ачивки — {{ settings.APP_NAME }}">
<meta property="og:site_name" content="{{ settings.APP_NAME }}">
<meta property="og:url" content="{{ settings.APP_HOST }}">
<meta property="og:type" content="website" />
<meta property="og:description" content="">
<meta property="og:image" content="{% static "images/share.png" %}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Разовы полаты — {{ settings.APP_NAME }}">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="{% static "images/share.png" %}">
{% endblock %}
{% block content %}
{% if me.is_god %}
<div class="stats stats--single">
    <div class="container">
        <div class="stats-header">Разовые оплаты</div>

        <a href="/payment_link/create" class="">
                Создать новую
            </a>
        <div class="payment_single_form_title">
            Поиск
        </div>
        <form action="." method="post" class="stat-money-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="payment_single_form">
                <label class="form-label">Email</label>
                {{ form.email }}
            </div>
            <div class="payment_single_form">
                <label class="form-label">Описание</label>
                {{ form.description }}
            </div>
            <div class="payment_single_form">
                <label class="form-label">Статус</label>
                {{ form.status }}
            </div>
            <br>
            <button type="submit" class="button button-small payment_single_form_button">Найти</button>
        </form>

        <div class="stats-description">
        </div>
        <table>
            <tr>
                <th>Айди</th>
                <th>Заголовок</th>
                <th>Описание</th>
                <th>Сумма</th>
                <th>Статус</th>
                <th>Юнитпей</th>
                <th>Email</th>
                <th>Действие</th>
            </tr>
            {% if payments_link %}
                {% for link in payments_link %}
                    {% if link.unitpay_id and link.status == 'success' %}
                    <tr class="payment_one_success_and_unitpay_id">
                    {% elif link.status == 'success' %}
                    <tr class="payment_one_success">
                    {% else %}
                    <tr>
                    {% endif %}
                        <td><a href="/pay/{{ link.id }}" target="_blank" style="color: white;">Ссылка</a></td>
                        <td>{{ link.title }}</td>
                        <td>{{ link.description }}</td>
                        <td>{{ link.amount }}</td>
                        <td>{{ link.status }}</td>
                        <td>{{ link.unitpay_id }}</td>
                        <td>{{ link.email }}</td>
                        <td>
                            <a href="{% url 'update_single_link' link.id %}" class="" style="color: white;">Обновить</a>
                            {% if link.unitpay_id %}
                                <br>
                                <a href="{% url 'write_of_money' link.id %}" class="" style="color: white;">Повторить</a>
                            {% endif %}
                            <br>
                            <a href="{% url 'given_to_user_link' link.id %}" class="" style="color: white;">Отдали</a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
</div>
{% else %}
<div class="stats">
    Не для тебя
</div>
{% endif %}
{% endblock %}
