{% extends "layout.html" %}
{% load posts %}
{% load static %}
{% load users %}
{% load text_filters %}
{% block title %}
Статистика
{% endblock %}
{% block og_tags %}
<meta property="og:title" content="Ачивки — {{ settings.APP_NAME }}">
<meta property="og:site_name" content="{{ settings.APP_NAME }}">
<meta property="og:url" content="{{ settings.APP_HOST }}">
<meta property="og:type" content="website" />
<meta property="og:description" content="">
<meta property="og:image" content="{% static " images/share.png" %}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Статистика — {{ settings.APP_NAME }}">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="{% static " images/share.png" %}">
{% endblock %}
{% block content %}
{% if me.is_god %}
<div class="container">
<div class="stats-header">Рейтинг постов</div>
<form action="" method="post" class="stat-money-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="date-range">
        <label class="form-label">Диапозон дат</label>
        <input type="text" name="date-range" class="date-range__input" data-submit="true" />
        <div class="date-range__inputs">
            {{ form.date_from }}
            {{ form.date_to }}
        </div>
    </div>
    <button type="submit" class="button button-small">Отправить</button>
</form>
</div>
{% for object in posts %}
<div class="container">
    <article class="block feed-post h-entry feed-post-post">
        <div class="feed-post-header">
            <div class="feed-post-title">
                <a href="{% url 'show_post' object.post.type object.post.slug %}" class="p-name post-title-link"> {{ object.post.title | rutypography }}: {{ object.post. }} {{ object.points }} </a>
            </div>
        </div>
        <div class="feed-post-author">
            <div class="avatar"><img
                    src="{% if form.instance.author.avatar %}{{ form.instance.author.get_avatar }}{% else %}{{ me.get_avatar }}{% endif %}"
                    alt="Аватар" />
            </div>

        </div>

        <div class="feed-post-votes">
            <a href="upvoteUrl" class="upvote">
                {{ object.post.upvotes }}
            </a>
        </div>

        <div class="feed-post-footer">
            <a href="{% url 'show_post' object.post.type object.post.slug %}?comment_order=-created_at#comments"
                class="feed-post-comments">
                {{ object.post.comment_count }} {{ object.post.comment_count | rupluralize:"комментарий,комментария,комментариев" }}
            </a>
        </div>
</div>
{% endfor %}
{% else %}
<div class="stats">
    Не для тебя
</div>
</article>
{% endif %}
{% endblock %}