{% extends "layout.html" %}
{% load posts %}
{% load static %}
{% load users %}
{% load text_filters %}
{% block title %}
Статистика
{% endblock %}
{% block og_tags %}
<meta property="og:title" content="Ачивки — {{ settings.APP_NAME }}">
<meta property="og:site_name" content="{{ settings.APP_NAME }}">
<meta property="og:url" content="{{ settings.APP_HOST }}">
<meta property="og:type" content="website" />
<meta property="og:description" content="">
<meta property="og:image" content="{% static " images/share.png" %}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Статистика — {{ settings.APP_NAME }}">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="{% static " images/share.png" %}">
{% endblock %}
{% block content %}
{% if me.is_god %}
<div class="container">
<div class="stats-header">Статистика по рефералке</div>

<a href="{% url 'affilates_money_stat' %}">Деньги по рефералке</a>
<br>
<a href="{% url 'affilates_days_stat' %}">Дни по рефералке</a>
<br><br>

</div>
{% else %}
<div class="stats">
    Не для тебя
</div>
</article>
{% endif %}
{% endblock %}
