<!DOCTYPE html>
<html>
    <head>
        <title>Бизнес-клуб предпринимателей: Сорокин.Клуб ✖️‍</title>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/pages/tg-bot-second/css/styles.css">
    </head>
    <body>
        <main id="app">
            <div class="wrap">
                <a class="logo" href="/" target="_blank">
                    <img src="/static/css/pages/tg-bot-second/images/logo.svg" alt="Логотип Sorokin.club.">
                </a>
                <h1>Подсмотри бесплатно за&nbsp;лучшими материалами из&nbsp;закрытого бизнес&#8209;клуба</h1>
                <ul class="list">
                    <li>Информация о&nbsp;клубе внутри бота</li>
                    <li>Присылаем полные версии статей</li>
                    <li>Бесплатно без sms и&nbsp;регистрации</li>
                </ul>
                <tg-button-second is-custom="true" :classes="['btn']">
                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="m.9 11.03 5.256 1.96 2.048 6.59c.09.445.624.535.98.267l2.94-2.405c.266-.267.712-.267 1.068 0l5.255 3.83c.356.268.89.09.98-.356l3.919-18.704c.089-.445-.357-.89-.802-.713L.901 9.872c-.535.178-.535.98 0 1.158Zm7.037.98L18.27 5.685c.178-.09.356.178.178.267L9.986 13.88c-.268.267-.535.623-.535 1.069l-.267 2.137c0 .267-.445.357-.534 0l-1.07-3.919c-.266-.445-.088-.98.357-1.158Z" fill="#fff"/></svg>
                    <span>Получать в&nbsp;Telegram</span>
                </tg-button-second>
            </div>

            <svg class="svg-1" width="140" height="140" viewBox="0 0 461 461" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M111.19 461 230.5 341.807 349.81 461 461 349.918 341.465 230.5 461 111.082 349.81 0 230.5 119.193 111.19 0 0 111.082 119.535 230.5 0 349.918 111.19 461Z" fill="#212736"/></svg>
            <svg class="svg-2" width="160" height="160" viewBox="0 0 461 461" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M111.19 461 230.5 341.807 349.81 461 461 349.918 341.465 230.5 461 111.082 349.81 0 230.5 119.193 111.19 0 0 111.082 119.535 230.5 0 349.918 111.19 461Z" fill="#292E3B"/></svg>
            <svg class="svg-3" width="461" height="461" viewBox="0 0 461 461" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M111.19 461 230.5 341.807 349.81 461 461 349.918 341.465 230.5 461 111.082 349.81 0 230.5 119.193 111.19 0 0 111.082 119.535 230.5 0 349.918 111.19 461Z" fill="#292E3B"/></svg>

        </main>
        {% include "common/js.html" %}
        {% block js %}{% endblock %}
    </body>
</html>
