<!DOCTYPE html>
<html>
    <head>
        <title>Бизнес-клуб предпринимателей: Сорокин.Клуб ✖️‍</title>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/pages/tg-bot-second.css">
    </head>
    <body>
        <main id="app">
            <section class="showcase">
                <div class="container">
                    <div class="showcase__top">
                        <div class="showcase__logo">
                            <img src="/static/images/tg-bot-second/logo.svg" alt="">
                        </div>

                        <tg-button-second></tg-button-second>
                    </div>

                    <div class="showcase__bottom">
                        <h1><span>БЕСПЛАТНЫЙ ДОСТУП <br>К&nbsp;КОНТЕНТУ ИЗ&nbsp;ЗАКРЫТОЙ <br>ЧАСТИ КЛУБА ПРЕДПРИНИМАТЕЛЕЙ</span></h1>
                    </div>
                </div>
            </section>
            <section class="content">
                <div class="container">
                    <div class="content__text">
                        <span class="content__text-shadow">
                            <span class="content__text-inner">
                                <span class="accent">лучшая статья</span> раз в&nbsp;неделю<br>
                                бесплатно и&nbsp;без регистрации!
                            </span>
                        </span>
                    </div>

                    <div class="telegram__button">
                        <a href="" class="btn-tg" target="_blank">
                            <span>получать в telegram</span>
                            <svg width="57" height="47" viewBox="0 0 57 47" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.034 20.45S28.802 10.285 37.391 6.706C40.684 5.274 51.851.693 51.851.693s5.154-2.004 4.725 2.863c-.143 2.005-1.289 9.02-2.434 16.608-1.718 10.737-3.58 22.477-3.58 22.477s-.286 3.293-2.72 3.865c-2.433.573-6.441-2.004-7.157-2.577-.573-.429-10.738-6.872-14.46-10.021-1.002-.86-2.148-2.577.143-4.581 5.154-4.725 11.31-10.595 15.032-14.317 1.718-1.718 3.436-5.726-3.722-.859-10.165 7.015-20.186 13.6-20.186 13.6s-2.29 1.432-6.586.144C6.611 26.607 1.6 24.888 1.6 24.888s-3.435-2.148 2.434-4.438Z"/></svg>
                        </a>
                        <div class="telegram__button-sub">Делимся самым интересным</div>
                    </div>

                    <h2>чем мы отличаемся от других?</h2>
                    <ul class="content__list">
                        <li>Закрытое сообщество предпринимателей&nbsp;&mdash; делимся опытом из&nbsp;разных ниш вдали от&nbsp;большого интернета.</li>
                        <li>Регулярные клубные онлайн-сессии про инвестиции в&nbsp;условиях неопределенности, бизнес, SEO и&nbsp;многое другое, мастермайнды и&nbsp;наставничество, ama-сессии.</li>
                        <li>Встречи в&nbsp;разных городах&nbsp;&mdash; уже были в&nbsp;Самаре, Санкт-Петербурге, Москве, в&nbsp;начале сентября встреча в&nbsp;Нижнем Новгороде.</li>
                    </ul>
                    <div class="content__button">
                        <a href="/" class="btn" target="_blank">подробнее на сайте</a>
                    </div>
                </div>
            </section>
        </main>

        {% include "common/js.html" %}
        {% block js %}{% endblock %}
    </body>
</html>
