<!DOCTYPE html>
<html>
    <head>
        <title>Бизнес-клуб предпринимателей: Сорокин.Клуб ✖️‍</title>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/pages/tg-bot-second.css">
    </head>
    <body>
        <main id="app">
            <section class="showcase">
                <div class="container">
                    <div class="showcase__top">
                        <div class="showcase__logo">
                            <img src="/static/images/tg-bot-second/logo.svg" alt="">
                        </div>

                        <tg-button-second></tg-button-second>
                    </div>

                    <div class="showcase__bottom">
                        <h1><span>БЕСПЛАТНЫЙ ДОСТУП <br>К&nbsp;КОНТЕНТУ ИЗ&nbsp;ЗАКРЫТОЙ <br>ЧАСТИ КЛУБА ПРЕДПРИНИМАТЕЛЕЙ</span></h1>
                    </div>
                </div>
            </section>
            <section class="content">
                <div class="container">
                    <div class="content__text">
                        <span class="content__text-shadow">
                            <span class="content__text-inner">
                                <span class="accent">лучшая статья</span> раз в&nbsp;неделю<br>
                                бесплатно и&nbsp;без регистрации!
                            </span>
                        </span>
                    </div>

                    <tg-button-second></tg-button-second>

                    <h2>чем мы отличаемся от других?</h2>
                    <ul class="content__list">
                        <li>Закрытое сообщество предпринимателей&nbsp;&mdash; делимся опытом из&nbsp;разных ниш вдали от&nbsp;большого интернета.</li>
                        <li>Регулярные клубные онлайн-сессии про инвестиции в&nbsp;условиях неопределенности, бизнес, SEO и&nbsp;многое другое, мастермайнды и&nbsp;наставничество, ama-сессии.</li>
                        <li>Встречи в&nbsp;разных городах&nbsp;&mdash; уже были в&nbsp;Самаре, Санкт-Петербурге, Москве, в&nbsp;начале сентября встреча в&nbsp;Нижнем Новгороде.</li>
                    </ul>
                    <!-- <div class="content__button">
                        <a href="/" class="btn" target="_blank">подробнее на сайте</a>
                    </div> -->
                </div>
            </section>
        </main>

        {% include "common/js.html" %}
        {% block js %}{% endblock %}
    </body>
</html>
