<!DOCTYPE html>
{% load static %}
{% load text_filters %}
{% load render_bundle from webpack_loader %}
<html lang="ru" theme="dark">
<head>
    <title>{% block title %}Бизнес-клуб предпринимателей: Сорокин.Клуб ✖️‍{% endblock %}</title>
    {% block fonts %}
    {% include "common/fonts.html" %}
    {% endblock %}
    {% block meta %}
    {% include "common/meta.html" %}
    {% endblock %}
    {% block og_tags %}
    {% include "common/og.html" %}
    {% endblock %}
    {% include "common/favicon.html" %}
    {% render_bundle "main" "css" %}
    <meta name="yandex-verification" content="b204edbe7625b47d" />
</head>
<body>

    {% block body %}
    <main class="landing landing--club tg-bot" id="app">

        <div class="landing-block-container tg-bot-head">
            <div class="landing-block landing-block-large-limited">
                <div class="tg-bot-head__content">
                    <div class="tg-bot-head__logo">
                        <img src="{% static "images/logo-white-2.png" %}" alt="">
                    </div>

                    <div class="tg-bot-head__action">
                        <tg-button></tg-button>
                        <p>
                            Делимся самым интересным
                        </p>
                    </div>

                    <h1 class="tg-bot-head__title">
                        БЕСПЛАТНЫЙ ДОСТУП <br>
                        К КОНТЕНТУ ИЗ закрытой <br>
                        ЧАСТИ КЛУБА ПРЕДПРИНИМАТЕЛЕЙ
                    </h1>
                </div>
            </div>
        </div>

        <div class="landing-block landing-block-large-limited tg-bot-body" >
            <div>
                <div class="tg-bot-body__title">
                    <b> Лучшая статья </b> из закрытой части клуба предпринимателей <b> раз в неделю</b> <br> полная версия бесплатно и без регистрации!
                </div>

                <div class="tg-bot-body__action">
                    <tg-button></tg-button>
                    <p>
                        Делимся самым интересным
                    </p>
                </div>

                <h2 class="landing-block-title">ЧЕМ МЫ ЛУЧШЕ ДРУГИХ?</h2>

                <!-- <img src="{% static "images/landing/dolor.png" %}" alt="$1" class="landing-dolor"> -->

                <ul class="feature-list">
                    <li>
                        Закрытое сообщество предпринимателей — делимся опытом из разных ниш вдали от большого интернета.
                    </li>

                    <li>
                        Регулярные клубные онлайн-сессии про инвестиции  в условиях неопределенности, бизнес, SEO и многое другое, мастермайнды и наставничество, ama-сессии.
                    </li>

                    <li>
                        Встречи в разных городах — уже были в Самаре, Санкт-Петербурге, Москве, в начале сентября встреча в Нижнем Новгороде.
                    </li>
                </ul>

                <!-- <br> -->

                <div class="button-container">
                    <div class="button-container__inner">
                        <a href="/" class="button button-black">Подробнее на сайте</a>
                    </div>
                </div>
            </div>

        </div>

    </main>
    {% endblock %}

    <!-- {% block footer %}

    <footer class="footer">
        <div class="footer-left" style="text-align: left; font-size: 130%;">
            &copy; <a href="https://sorokin.club" target="_blank">sorokin.club</a> {% now "Y" %} &nbsp;&middot;&nbsp;
            <a href="/docs/about/">О Клубе и Правила Клуба</a> &nbsp;&middot;&nbsp;

            <a href="/docs/contact/">Написать нам</a><br />

            <a href="/docs/oferta/">Оферта</a> &nbsp;&middot;&nbsp;

            <a href="/docs/privacy_policy/">Политика приватности</a><br />

            <a href="/docs/policy/">Политика оплаты, доставки и возврата</a><br /><br />

            <img src="https://sorokin.club/static/images/visa.svg" width="77" />&nbsp;&nbsp;
            <img src="https://sorokin.club/static/images/mastercard.svg" width="77" />&nbsp;&nbsp;
            <img src="https://sorokin.club/static/images/mir.png" width="77" />

        </div>
    </footer>
    {% endblock %} -->

    {% include "common/js.html" %}
    {% block js %}{% endblock %}
</body>
</html>
