{% load static %}
{% load text_filters %}
{% load render_bundle from webpack_loader %}

<script src="/static/js/parts/cookieStore.js" ></script>
<script src="/static/js/parts/tempPostData.js" ></script>
<script src="/static/js/parts/tableWrapper.js" ></script>
<script src="/static/js/parts/initHideLinks/initHideLinks.js" ></script>

{% if me.moderation_status == 'approved' %}
    <script>
        document.cookie = 'is_approved=true';
    </script>

{% else %}
    <script>
        document.cookie = 'is_approved=false';
    </script>

    <!-- Save data to cookie -->
    <script>
        const lastUpdateCookie = get_cookie('last_update_cookie_data');
        const curTime = + new Date();
        const updateCookieDelay = 60 * 1000;

        const queryParams = curUrl.searchParams.toString().split('&').reduce((arr, cookie) => {
            const key = cookie.split('=')[0];
            const value = cookie.split('=')[1];

            arr.push({ key: key, value: value });
            return arr;
        }, []);

        if (curTime - lastUpdateCookie >= updateCookieDelay) {

            // Set all query to cookie
            queryParams.forEach(({ key, value }, index) => {
                document.cookie = key + '=' + value;
            })

            // Set last page to cookie if utm_source isn't exist
            if (!queryParams.find((el) => el.key === 'utm_source') && !get_cookie('utm_source')) {
                document.cookie = 'last_page=' + curUrl.pathname.replace(/[\/\\]+/gm, '_');
            }

            document.cookie = 'last_update_cookie_data=' + curTime;
        }

    </script>

<script>
        var lastUpdateCookieAuth = get_cookie('lastUpdateAuth');
        var curTimeAuth = + new Date();
        var updateCookieDelayAuth = 60 * 1000;
        if (typeof lastUpdateCookieAuth ==='undefined' || (curTimeAuth - lastUpdateCookieAuth >= updateCookieDelayAuth)) {
            var oldCookie = ''; var result = '';
            if(get_cookie('authUtmCookie')) {
                oldCookie = get_cookie('authUtmCookie');
            }
            var now = new Date().toLocaleString();
            var params = window.location.search.replace('?','').split('&');
            params.push(['last_page=' + curUrl.pathname.replace(/[\/\\]+/gm, '_')]);
            params.unshift(now);
            var cookieString = params.toString().concat('/');
            result = oldCookie.concat(cookieString);
            document.cookie = 'authUtmCookie='.concat(result).concat(';path=/')
            document.cookie = 'lastUpdateAuth=' + curTimeAuth;
        }
</script>
{% endif %}

<script>
    window.imageUploadUrl = "{{ settings.MEDIA_UPLOAD_URL }}";
    window.imageUploadCode = "{{ settings.MEDIA_UPLOAD_CODE }}";
</script>
{% render_bundle "main" "js" %}

<!-- For twitter embeds -->
<!-- <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->

<!-- Yandex.Metrika counter -->

<!-- First yandexM counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(88682790, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
    });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/88682790" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

<!-- /Yandex.Metrika counter -->

 <!-- VK Pixel -->


<!-- Add user to new auditory (vk pixel) + give two achivment (yandex) if user status approved -->
{% if me.moderation_status == 'approved' %}

    <!-- Second yandexM counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(89880963, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true,
            ecommerce:"dataLayer"
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/89880963" style="position:absolute; left:-9999px;" alt="" /></div></noscript>


    <script src="https://vk.com/js/api/openapi.js?162"></script>

    <script defer>
        document.addEventListener("DOMContentLoaded", function () {
        ym(88682790,'reachGoal','payed_user');
        ym(88682790,'reachGoal','payed_user_rt');

        ym(89880963,'reachGoal','payed_user');
        ym(89880963,'reachGoal','payed_user_rt');
        });
    </script>

    <script type="text/javascript">
        !function(){
        var t = document.createElement("script");
        t.type="text/javascript",
        t.async=!0,
        t.src='https://vk.com/js/api/openapi.js?169',

        t.onload=function(){
            VK.Retargeting.Init("VK-RTRG-1467866-ux4p"),
            VK.Retargeting.Hit()
        },

        document.head.appendChild(t)
        }();
    </script>
    <noscript>
        <img src="https://vk.com/rtrg?p=VK-RTRG-1467866-ux4p" style="position:fixed; left:-999px;" alt=""/>
    </noscript>

{% else %}

  <script type="text/javascript">
    !function(){
      var t = document.createElement("script");
      t.type="text/javascript",
      t.async=!0,
      t.src='https://vk.com/js/api/openapi.js?169',

      t.onload=function(){
        VK.Retargeting.Init("VK-RTRG-1381374-1jx7f"),
        VK.Retargeting.Hit()
      },

      document.head.appendChild(t)
    }();
  </script>
  <noscript><img src="https://vk.com/rtrg?p=VK-RTRG-1381374-1jx7f" style="position:fixed; left:-999px;" alt=""/></noscript>
{% endif %}


<!-- Js Parts -->
<script src="/static/js/parts/introIntervalUpdate.js"></script>
<script src="/static/js/parts/viewportScale.js"></script>
<script src="/static/js/parts/upvoteSync.js"></script>
