{% load static %}
{% load text_filters %}
{% load render_bundle from webpack_loader %}


<script>
    const curUrl = new URL(window.location);
    const urlUtm = curUrl.searchParams.get('utm_source') || '';

    if (get_cookie('utm_source') !== urlUtm && urlUtm.length > 0) {
        document.cookie = `utm_source=${ urlUtm }`;
    }

    function get_cookie ( cookie_name ) {
        var results = document.cookie.match ( '(^|;) ?' + cookie_name + '=([^;]*)(;|$)' );

        if ( results ) {
            return ( unescape ( results[2] ) );
        } else {
            return null;
        }
    }
</script>

{% if me.moderation_status == 'approved' %}
    <script>
        document.cookie = 'is_approved=true';
    </script>
{% else %}
    <script>
        document.cookie = 'is_approved=false';
    </script>
{% endif %}

<script>
    window.imageUploadUrl = "{{ settings.MEDIA_UPLOAD_URL }}";
    window.imageUploadCode = "{{ settings.MEDIA_UPLOAD_CODE }}";
</script>
{% render_bundle "main" "js" %}

<!-- For twitter embeds -->
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<noscript><div><img src="https://mc.yandex.ru/watch/88682790" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<script>
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(88682790, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
    });

</script>
<!-- VK Pixel -->
<!-- Add user to new auditory (vk pixel) + give two achivment (yandex) if user status approved -->
{% if me.moderation_status == 'approved' %}

  <script src="https://vk.com/js/api/openapi.js?162"></script>

  <script defer>
    document.addEventListener("DOMContentLoaded", function () {
      ym(88682790,'reachGoal','payed_user');
      ym(88682790,'reachGoal','payed_user_rt');

      console.log(ym);
    });
  </script>

  <script type="text/javascript">
    !function(){
      var t = document.createElement("script");
      t.type="text/javascript",
      t.async=!0,
      t.src='https://vk.com/js/api/openapi.js?169',

      t.onload=function(){
        VK.Retargeting.Init("VK-RTRG-1467866-ux4p"),
        VK.Retargeting.Hit()
      },

      document.head.appendChild(t)
    }();
  </script>
  <noscript>
      <img src="https://vk.com/rtrg?p=VK-RTRG-1467866-ux4p" style="position:fixed; left:-999px;" alt=""/>
  </noscript>

{% else %}

  <script type="text/javascript">
    !function(){
      var t = document.createElement("script");
      t.type="text/javascript",
      t.async=!0,
      t.src='https://vk.com/js/api/openapi.js?169',

      t.onload=function(){
        VK.Retargeting.Init("VK-RTRG-1381374-1jx7f"),
        VK.Retargeting.Hit()
      },

      document.head.appendChild(t)
    }();
  </script>
  <noscript><img src="https://vk.com/rtrg?p=VK-RTRG-1381374-1jx7f" style="position:fixed; left:-999px;" alt=""/></noscript>
{% endif %}


<!--
    Intro start form interval update
 -->
<script>
    const introStartForm = document.getElementById('intro-start-form');

    if (introStartForm) {

        const introFormUpdateDelay = 15 * 1000;
        const startIntroDataUpdate = updateFormData(introStartForm, {
            url: '/intro/',
            method: 'PUT',
            async: true,
        });

        setInterval(() => {
            startIntroDataUpdate();
        }, introFormUpdateDelay);

    }

    function updateFormData (form, { url = '/', method = 'PUT', async = true }) {
        let oldData = undefined;

        return wrapper;

        function wrapper () {
            const body = Object.values(form).reduce(
                (obj, field) => {
                    obj[field.name] = field.value;
                    return obj;
                }, {}
            );

            if (JSON.stringify(body) === JSON.stringify(oldData)) {
                return;
            }

            // Put request
            const putRequest = new XMLHttpRequest();
            putRequest.open(method, url, async);
            putRequest.send(JSON.stringify(body));

            oldData = body;
        }
    }
</script>
