<div class="landing-block landing-screenshots hide-on-iphone">
    <a href="https://sorokin.club/post/1289/" target="_blank" class="landing-screenshot">
        <img src="{% static "images/landing/posts/p00003.png" %}" alt="post">
    </a>

    <a href="https://sorokin.club/post/3467/" target="_blank" class="landing-screenshot">
        <img src="{% static "images/landing/posts/p00004.png" %}" alt="post">
    </a>

    <a href="https://sorokin.club/post/2970/" target="_blank" class="landing-screenshot">
        <img src="{% static "images/landing/posts/p00005.png" %}" alt="post">
    </a>

    <a href="https://sorokin.club/post/1494/" target="_blank" class="landing-screenshot">
        <img src="{% static "images/landing/posts/p00009.png" %}" alt="post">
    </a>
</div>
