<div class="landing-block-60 landing-posts">
    <div class="landing-post">
        <div class="avatar landing-post-avatar"><img src="https://i.sorokin.club/na.jpg" alt="Аватар" /></div>
        <div class="landing-post-title">
            Невероятно полезные, но неизвестные миру тулзы
            <span class="label" style="background-color: rgb(254, 74, 73);">
                <span class="label-title">🤙 Рекомендовано</span>
            </span>
        </div>
        <div class="landing-post-footer">312 комментариев <strong>+21 новый</strong></div>
        <div class="landing-post-upvotes">365</div>
        <a href="https://sorokin.club/post/1657/" target="_blank" class="landing-post-link">&nbsp;</a>
    </div>

    <div class="landing-post" style="left: 6%;">
        <div class="avatar landing-post-avatar"><img src="https://i.sorokin.club/fa.jpg" alt="Аватар" /></div>
        <div class="landing-post-title">🚄 Переезд в Японию 🎌</div>
        <div class="landing-post-footer">49 комментариев</div>
        <div class="landing-post-upvotes">183</div>
        <a href="https://sorokin.club/post/4787/" target="_blank" class="landing-post-link">&nbsp;</a>
    </div>

    <div class="landing-post" style="left: 2%;">
        <div class="avatar landing-post-avatar"><img src="https://i.sorokin.club/lr0.jpg" alt="Аватар" /></div>
        <div class="landing-post-title">Вопрос: Самый полезный навык, которому можно научиться за вечер?</div>
        <div class="landing-post-footer">123 комментария <strong>+15 новых</strong></div>
        <div class="landing-post-upvotes">256</div>
        <a href="https://sorokin.club/question/5/" target="_blank" class="landing-post-link">&nbsp;</a>
    </div>

    <div class="landing-post" style="left: 8%;">
        <div class="avatar landing-post-avatar"><img src="https://i.sorokin.club/22x.jpg" alt="Аватар" /></div>
        <div class="landing-post-title">Книги, которые разделили мою жизнь на до и после</div>
        <div class="landing-post-footer">
            <span class="topic topic-type-inline" style="background-color: rgb(243, 156, 18);">
                <span class="topic-gradient"></span>
                <span class="topic-icon-wrapper">
                    <span class="topic-icon"><img src="https://i.sorokin.club/lra.jpg" alt="Иконка комнаты" /></span>
                </span>
                <span class="topic-name-wrapper">
                    <span class="topic-name">Книжный Клуб</span>
                </span>
            </span>&nbsp;&nbsp;

            164 комментария <strong>+3 новых</strong>
        </div>
        <div class="landing-post-upvotes">227</div>
        <a href="https://sorokin.club/post/2389/" target="_blank" class="landing-post-link">&nbsp;</a>
    </div>

    <div class="landing-post" style="left: 1%;">
        <div class="avatar landing-post-avatar"><img src="https://i.sorokin.club/n4.jpg" alt="Аватар" /></div>
        <div class="landing-post-title">🔒 Делимся классными местами на Airbnb, Booking, etc</div>
        <div class="landing-post-footer">
            <span class="topic topic-type-inline" style="background-color: rgb(144, 12, 63);">
                <span class="topic-gradient"></span>
                <span class="topic-icon-wrapper">
                    <span class="topic-icon"><img src="https://i.sorokin.club/18.png" alt="Иконка комнаты" /></span>
                </span>
                <span class="topic-name-wrapper">
                    <span class="topic-name">Тревел</span>
                </span>
            </span>&nbsp;&nbsp;

            29 комментариев
        </div>
        <div class="landing-post-upvotes">87</div>
        <a href="https://sorokin.club/post/5774/" target="_blank" class="landing-post-link">&nbsp;</a>
    </div>
</div>
