{% extends "layout.html" %}
{% load posts %}
{% load static %}
{% load users %}
{% load text_filters %}
{% block title %}
Создание полезняхи дня
{% endblock %}
{% block og_tags %}
<meta property="og:title" content="Ачивки — {{ settings.APP_NAME }}">
<meta property="og:site_name" content="{{ settings.APP_NAME }}">
<meta property="og:url" content="{{ settings.APP_HOST }}">
<meta property="og:type" content="website" />
<meta property="og:description" content="">
<meta property="og:image" content="{% static " images/share.png" %}">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Статистика — {{ settings.APP_NAME }}">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="{% static " images/share.png" %}">
{% endblock %}


{% block content %}
{% if me.is_god %}

<div class="container">

    <div class="form-row compose-form-title">

        {% if validation_errors %}
        {% if "order" in validation_errors.as_text %}
        <div style="color: rgb(255, 0, 0);font-size:20px">
            <i> Полезняха дня с таким порядком отправки уже есть </i>
        </div>
        {% endif %}
        {% endif %}
        <br>
        <small><a href="{% url 'show_helpfullness_list' %}">Вернуться к списку</a></small>
        <br>
        {% if id %}
        <form action="{% url 'create_day_helpfullness' id %}" method="post">{% csrf_token %}
            {% else %}
            <form action="{% url 'create_day_helpfullness' %}" method="post">{% csrf_token %}
                {% endif %}

                {% for field in form %}
                {{ field.label_tag }}
                {{ field }}

                <br>
                {% endfor %}
                <br><br>
                <button type="submit" name="Сохранить!">Сохранить!</button>
                <button type="submit" name="Сохранить как черновик">Сохранить как черновик</button>
                {% if id %}
                <small>
                    <font color="red">Сначала сохрани! </font>
                </small>
                <br>
                <button id="send message" type="'submit" name="Отправить тест">Отправить тест</button>
                <br><br><br>
                    <a style="color: rgb(255, 0, 247)" href="{% url 'delete_day_helpfullness' id %}" onclick="return confirm('Вернуть не получится! Можно сохранить черновик. Точно удаляем?');">Удалить сообщение</a>
                {% else %}
                <br><br>
                <small>
                    <font color="red">Для отправки теста необходимо сохранить черновик. </font>
                </small>
                    {% endif %}
                <div class="menu">

            </form>
    </div>
    {% else %}
    <div class="stats">
        Не для тебя
    </div>
    {% endif %}

    {% endblock %}

    </html>